/* 
esto hace que se mueva
.padre{
    background-color: red;
    height: 400px;
    width: 400px;
}
.hijo{
    background-color: beige;
    height: 50%;
    width: 50%;
    animation: traslacion 1s infinite forwards alternate;
}

@keyframes traslacion {
    0% {
        background-color: aliceblue;
        transform: translateX(0%);
    }
    25% {
        background-color: blue;
        transform: translateX(100%);
    }
    50% {
        background-color: aqua;
        transform: translateY(100%) translateX(100%);
    }
    75%{
        background-color: blueviolet;
        transform: translateY(100%) translateX(0%);  
    }
    100%{
        transform: 1s translateX(100%);
    }
} */

.padre {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
  background-color: red;
  min-height: 5rem;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.hijo {
  background-color: antiquewhite;
  padding: 0.5rem;
  

}

.hijo2{
    align-self:center
}
