.lista-compras{
    width: 130px;
    margin: 15px;
}
#elemento-1{
    color: red
}
ul #elemento-1{
    font-size: 2rem;
}
div {
    background-color: aquamarine;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    border-radius: 30px;
}
